<header id="header">
  <div id="logo" >
    <a href=""><img id="img-Logo" src="https://st.mngbcn.com/static/assets/img/logo/mango.svg"></a>
  </div>

  <div id="news">
    <%= link_to t(".news"), news_path %>
  </div>

  <div id="clothing">
    <%= link_to t(".clothings"), clothing_path %>
  </div>

  <div id="contact">
    <%= link_to t(".contacts"), contact_path %>
  </div>

  <div id="login">
    <a href=""><%= t(".logins")%></a>
      /
    <%= link_to t(".sign_ins"), signin_path %>
  </div>
</header>
