<header id="header">
  <div id="logo" >
    <a href="/"><img id="img-logo" src="https://st.mngbcn.com/static/assets/img/logo/mango.svg"></a>
  </div>

  <div id="news">
    <%= link_to t(".news"), news_path %>
  </div>

  <div id="clothing">
    <%= link_to t(".clothings"), clothing_path %>
  </div>

  <div id="contact">
    <%= link_to t(".contacts"), contact_path %>
  </div>


  <ul class="nav navbar-nav navbar-right">
    <% if logged_in? %>
      <li><%= link_to "Users", "#" %></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Account <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><%= link_to "Profile", current_user %></li>
          <li><%= link_to "Settings", edit_user_path(current_user) %></li>
          <li class="divider"></li>
          <li>
            <%= link_to "Log out", logout_path, method: :delete %>
          </li>
        </ul>
      </li>
    <% else %>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb" id="login">
          <li class="breadcrumb-item"><%= link_to t(".logins"), login_path%></li>
          <li class="breadcrumb-item"><%= link_to t(".sign_ins"), signin_path %></li>
        </ol>
      </nav>
    <% end %>
  </ul>
</header>
