<header id="header">
    <div id="logo" >
        <a href=""><img id="imglogo" src="https://st.mngbcn.com/static/assets/img/logo/mango.svg"></a>
    </div>
    <div id="News">
        <%= link_to "News", news_path %>
    </div>
    <div id="Clothing">
        <%= link_to "Clothing", clothing_path %>
    </div>
    <div id="Accessories">
        <%= link_to "Accessories", accessories_path %>
    </div>
    <div id="Contact">
        <%= link_to "Contact", contact_path %>
    </div>
    <div id="Login">
        <a href="">Login</a>
        /
        <%= link_to "Sign In", signin_path %>
    </div>
</header>