<header id="header">
  <div id="logo" >
    <a href="/"><img id="img-logo" src="https://st.mngbcn.com/static/assets/img/logo/mango.svg"></a>
  </div>

  <div id="news">
    <%= link_to t(".news"), news_path %>
  </div>

  <div id="clothing">
    <%= link_to t(".clothings"), clothing_path %>
  </div>

  <div id="contact">
    <%= link_to t(".contacts"), contact_path %>
  </div>

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb" id="login">
      <li class="breadcrumb-item"><%= link_to t(".logins"), login_path%></li>
      <li class="breadcrumb-item"><%= link_to t(".sign_ins"), signin_path %></li>
    </ol>
  </nav>
</header>
